<mat-drawer-container class="app-main" autosize>
  <mat-drawer opened #drawer class="drawer-container" mode="side">
    <app-drawer (dataTable)="receiveTables($event)"></app-drawer>
  </mat-drawer>

  <div>
    <app-nav-bar (drawerClick)="drawer.toggle()"  (downloadClick)="generateTxtFile()"></app-nav-bar>
    <div class="app-container">
      <mat-card  cdkDragBoundary=".app-container" cdkDrag *ngFor="let table of dataTables let i = index" class="card">
        <mat-card-header>
          <mat-card-title>{{table.id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider class="divider"></mat-divider>
          <div class="list">
            <div *ngFor="let column of table.columns" class="row">
              <div class="row-item"> <mat-icon matTooltip="Unique" class="icon" color="primary"
                  *ngIf="column.isUnique">stars</mat-icon> {{column.id}}</div>
              <div class="row-item">{{column.type}}</div>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>


  </div>

</mat-drawer-container>