.dialog-main{
    .form-container{
        padding-top: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .field{
            margin-right: 3px;
        }
    }
}
